@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
* {
	padding: 0;
	margin: 0;
	border: 0;
}

body {
	overflow: hidden;
	background-color: #000;
	font-family: 'Press Start 2P', cursive!important;
}

#wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100vw;
}

#content {
	margin-top: -10rem;
	padding: 40px;
	text-align: center;
}

#content img {
	max-width: 80%;
}

button {
	font-size: 24px;
	padding: 2rem 10rem;
	color: #fff;
	border: .5rem solid #fff;
	background: none;
	max-width: 100%;
	font-family: 'Press Start 2P', cursive!important;
}

button:hover {
	color: #333;
	background: #fff;
}

#stats {
	position: absolute;
	top: 0;
}

#startGame {
	z-index: 100000;
	bottom: 50px;
	font-size: 20px;
	position: fixed;
	width: 100vw;
	text-align: center;
}

@media screen and (max-width: 700px) {
	#content {
		margin-top: -6rem;
	}
	#content img {
		max-width: 100%;
	}
	button {
		font-size: 16px;
		border-width: .3rem;
		padding: 1rem 4rem;
	}
}